@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --fontfamily: "Inter", sans-serif;
  --colordark: #333;
  --colorlight: #F8F9FA;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--fontfamily);
  line-height: 1.2;
}

header .navbar {
  background-color: var(--colordark);
}

header .navbar .nav-item + .nav-item {
  margin-left: 5px;
}

@media screen and (max-width: 991px) {
  header .navbar .nav-item + .nav-item {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 5px;
  }
}

@media screen and (max-width: 991px) {
  header .navbar .nav-item {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 5px;
  }
}

header .navbar a {
  color: var(--colorlight);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px 10px;
  border-radius: 5px;
  transition: all 0.7s;
}

@media screen and (max-width: 991px) {
  header .navbar a.nav-link {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 3px 10px;
  }
}

header .navbar a.active, header .navbar a:hover {
  background-color: var(--colorlight);
  color: var(--colordark) !important;
}

@media screen and (max-width: 991px) {
  header .navbar a.active.nav-item, header .navbar a:hover.nav-item {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

header .navbar-brand img {
  max-height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}

header .navbar-brand:hover {
  background-color: transparent !important;
  opacity: 0.7;
}

.main .inner {
  padding: 16px 0;
}

.main .inner h1 {
  color: #000;
  font-family: var(--fontfamily);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 575px) {
  .main .inner h1 {
    font-size: 28px;
  }
}

.main .inner h2 {
  color: white;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 575px) {
  .main .inner h2 {
    font-size: 20px;
  }
}

.main .inner h3 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 575px) {
  .main .inner h3 {
    font-size: 16px;
  }
}

.main .inner p {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 575px) {
  .main .inner p {
    font-size: 14px;
  }
}

.main .inner p.small {
  font-size: 13px;
}

.main .inner span {
  color: #6C757D;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.main .inner span.small {
  font-size: 12px;
}

.main .inner span.small.bolder {
  display: block;
  color: #000;
  font-size: 13px;
  font-weight: 700;
}

.main .inner span.status {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px;
}

.main .inner span.status.proposed {
  border: 1px solid #000;
  background-color: #FFC107;
}

.main .inner span.status.approved {
  border: 1px solid #000;
  color: #fff;
  background-color: #198754;
}

.main .inner span.status.cancelled {
  border: 1px solid #000;
  background-color: #DC3545;
}

.main .inner span.status:has(i) {
  min-width: 15px;
  min-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.main .inner span.status:has(i).bigicon {
  min-width: 30px;
  min-height: 30px;
  margin-left: 10px;
}

.main .inner span.edit {
  color: #fff;
  background-color: #000;
  padding: 5px;
  margin-left: 5px;
  transition: opacity 1s;
}

.main .inner span.edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.main .inner span.edit i {
  font-size: 18px;
}

.main .inner span.big {
  color: #F8F9FA;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-width: 120px;
  max-width: 120px;
  margin-bottom: 5px;
  min-height: 25px;
}

@media screen and (max-width: 575px) {
  .main .inner span.big {
    font-size: 14px;
    min-width: 100px;
    max-width: 100px;
  }
}

.main .inner span.blue {
  background-color: #1E4B9B;
}

.main .inner .card-wrapper {
  border-radius: 6px;
  border: 1px solid #000;
  overflow: hidden;
  
}

.main .inner .card-wrapper .head {
  padding: 5px 8px;
  border-bottom: 1px solid #000;
  background-color: #333;
}

.main .inner .card-wrapper .inner-card-wrapper {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

.main .inner .bordered-card-item {
  border-radius: 3px;
  border: 0.5px solid #000;
  background: #FFF;
  padding: 5px;
}

.main .inner .bordered-card-item + .bordered-card-item {
  border-radius: 0px 0px 3px 3px;
  border-top: 0;
}

.main .inner .bordered-card-item.full {
  border-radius: 3px !important;
  border: 0.5px solid #000 !important;
  margin-bottom: 5px;
  border-top: 0.5px solid #000;
}

.main .inner .bordered-card-item.full + .bordered-card-item {
  border-radius: 3px;
  margin-top: 3px;
  border-top: 0.5px solid #000;
}

.main .inner .more-cta {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 3px;
  background: #1E4B9B;
  border: 1px solid #1E4B9B;
  padding: 3px 5px;
  margin: 0 auto;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  transition: all 1s;
}

.main .inner .more-cta:hover {
  text-decoration: none;
  color: #000;
  background-color: transparent;
}

.main .inner .view-all {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 2px solid #1E4B9B;
  padding: 3px;
  margin: 0 auto;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  transition: all 1s;
}

.main .inner .view-all:hover {
  text-decoration: none;
  background: #1E4B9B;
  color: white;
}

.main .inner h6 {
  color: #0D6EFD;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 575px) {
  .main .inner h6 {
    font-size: 14px;
  }
}

.main .inner .anchors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .inner .anchors + .anchors {
  margin-top: 5px;
}

.main .inner .anchors a {
  color: #0D6EFD;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin: 0;
}

@media screen and (max-width: 575px) {
  .main .inner .anchors a {
    font-size: 14px;
  }
}

.main .inner form label {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3px;
}

.main .inner form label.check-label {
  margin-right: 5px;
}

.main .inner form input,
.main .inner form textarea {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 575px) {
  .main .inner form input,
  .main .inner form textarea {
    font-size: 14px;
  }
}

.main .inner form input:focus,
.main .inner form textarea:focus {
  outline: none;
  border-color: #0D6EFD;
}

.main .inner .column-details {
  margin-top: 15px;
}

.main .inner .column-details .small {
  min-width: 90px;
  margin-right: 5px;
}

.main .inner .column-details .small.bolder {
  min-width: auto;
  margin-right: 0;
}

@media (max-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1460px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1460px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1460px;
  }
}

.colored {
  color: #333333 !important;
}

.input-group-append {
  margin: 0 !important;
}

.input-group-text {
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}